body{
    background-color: #e4e6ff;
}
#nevbar{
    height: 80px;
    /* border: 1px solid ; */
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #e4e6ff;
}

.logo{
    height: 50px;
    width: 200px;
    /* border: 1px solid; */
    background-image: url(Screenshot_2026-01-27_163013-removebg-preview.png);
    background-size: 200px;
    position: fixed;
}
.link{
    height: 50px;
    width: 1100px;
    /* border: 1px solid ; */
    margin-left: 200px;
}
.link ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.link ul li{
    font-size: larger;
    font-weight: bold;
}
.link ul li a{
    color: black;
    text-decoration: none;
    /* border: 1px solid; */
    transition: 0.4s;
    border-radius: 10px;
     padding: 10px;
}
.link ul li a:hover{
    background-color: #5865f2;
    text-decoration: underline;
}
.opendiscord{
    height: 30px;
    /* border: 1px solid; */
    padding: 10px;
    margin-left: 10px;
    position: fixed;
    left: 1320px;
    top: 40px;
}
.opendiscord a{
    font-size: larger;
    font-weight: bolder;
    /* border: 1px solid; */
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #5865f2;
    border-radius: 15px;
}
.opendiscord a:hover{
    text-decoration: underline;
    color: white;
}
.img{
    height: 200px;
    width: 200px;
    background-image: url(bhopu.png);
    background-size: 250px;
    /* border: 1px solid; */
    margin-left: 200px;
}
.contant{
    height: 660px;
    /* border: 1px solid; */
    display: flex;
}
.main_text{
    height: 600px;
    width: 800px;
    /* border: 1px solid; */
    margin-left: 300px;
    font-size: 130px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-weight: 700;
    padding-top: 50px;
    color: #5865f2;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 400px;
    
}
.toy{
    height: 400px;
    width: 300px;
    /* border: 1px solid; */
    background-image: url(toy.png);
    background-size: 300px;
    margin-top: 100px;
    margin-left: 30px;
}
.section{
    height: 60px;
    /* border: 1px solid black; */
    padding-right: 40px;
}
.section ul{
    display: flex;
    justify-content: space-between;
}
.section ul li{
    list-style: none;
}

.section ul li a{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 5px;
    text-decoration: none;
    color: black;
    border-radius: 20px ;
    transition: 0.2s;
    font-size:20px;
}
.section ul li a:hover{
    background-color: #5865f2;
    color: white;
}
.section ul li img:hover{
    color: white;
}
img{
    height: 20px;
    width: 20px;
}
.search-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 19px;
  padding: 12px 18px;
  width: 1400px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-left: 40px;
}

.search-box .icon {
  font-size: 18px;
  color: #555;
  margin-right: 10px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}

.search-box input::placeholder {
  color: #888;
}
.icon img{
    height: 30px;
    width: 30px;
}
.banner{
    height: 500px;
    width: 1400px;
    margin-left: 50px;
    border-radius: 60px;
    background-image: url(download\ \(4\).jpg);
}
h1
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-size: 80px;
    padding-top: 50px;
    
}
h3{
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 400px;
    margin-left: 500px;
    padding-top: 10px;
    border-radius: 20px ;
    background-color: white;
}
.footer {
  background: linear-gradient(180deg, #3f46ad, #5865f2);
  padding: 70px 60px;
  color: white;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}

/* LEFT */
.footer-left {
  max-width: 260px;
}

.dis_logo {
  width: 48px;
  margin-bottom: 40px;
  background-image: url(discord_logo__discord__logo__discordlogo__logos_-removebg-preview.png);
  height: 100px;
  background-size: 100px;
  width: 100px;
}

.social-title {
  color: #b5b9ff;
  font-size: 14px;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
  gap: 18px;
  font-size: 22px;
}

.social-icons i {
  cursor: pointer;
  transition: opacity 0.3s;
}

.social-icons i:hover {
  opacity: 0.7;
}

/* RIGHT */
.footer-right {
  display: flex;
  gap: 80px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  color: #b5b9ff;
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-column a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-bottom: 12px;
}

.footer-column a:hover {
  text-decoration: underline;
}
.discord_name{
    margin-top: 80px;
    text-align: center;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 220px;
    font-weight: 900;
    color: #e3e5ff;
    letter-spacing: -8px;
}
.media{
    margin-left: -40px;
}
.media img{
    margin-left: 40px;
}