body{
    background-color: #e4e6ff;
}
#nevbar{
    height: 80px;
    /* border: 1px solid ; */
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #e4e6ff;
}

.logo{
    height: 50px;
    width: 200px;
    /* border: 1px solid; */
    background-image: url(Screenshot_2026-01-27_163013-removebg-preview.png);
    background-size: 200px;
}
.link{
    height: 50px;
    width: 1100px;
    /* border: 1px solid ; */
    margin-left: 10px;
}
.link ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.link ul li{
    font-size: larger;
    font-weight: bold;
}
.link ul li a{
    color: black;
    text-decoration: none;
    /* border: 1px solid; */
    transition: 0.4s;
    border-radius: 10px;
     padding: 10px;
}
.link ul li a:hover{
    background-color: #5865f2;
    text-decoration: underline;
}
.opendiscord{
    height: 30px;
    /* border: 1px solid; */
    padding: 10px;
    margin-left: 10px;
}
.opendiscord a{
    font-size: larger;
    font-weight: bolder;
    /* border: 1px solid; */
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #5865f2;
    border-radius: 15px;
}
.opendiscord a:hover{
    text-decoration: underline;
    color: white;
}
.img{
    height: 200px;
    width: 200px;
    background-image: url(bhopu.png);
    background-size: 250px;
    /* border: 1px solid; */
}
.contant{
    height: 700px;
    border: 1px solid;
    display: flex;
}
.main_text{
    height: 700px;
    width: 800px;
    border: 1px solid;
    margin-left: 300px;
    font-size: 130px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}
.toy{
    height: 400px;
    width: 300px;
    border: 1px solid;
    background-image: url(toy.png);
    background-size: 300px;
    margin-top: 100px;
    margin-left: 30px;
}